.license-usage-chart {
  position: relative;
  width: 100%;

  .chart__title {
    text-align: center;
  }

  .chart__label {
    position: absolute;
    top: 50%;
    left: -1.6em;
    transform: rotate(-90deg);
  }

  .ant-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
