@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.license-usage-stats {
  padding: 10px;
  animation: fade-in 0.8s;

  &__title {
    font-size: 35px;
  }

  &__inner {
    animation: fade-in 0.5s;

    .ant-picker {
      margin-bottom: 30px;
    }

    .license-usage-table {
      margin-bottom: 30px;
    }

    .license-usage-chart {
      margin-bottom: 10px;
    }

    .license-usage-charts {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.loading {
  display: grid;
  height: 60vh;
  place-items: center;
}
