@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.license-usage-stats {
  padding: 20px;
  padding-top: 40px;
  animation: fade-in 0.8s;

  &__title {
    font-size: 35px;
  }

  &__inner {
    animation: fade-in 0.8s;

    .ant-picker {
      margin-bottom: 30px;
    }

    .license-usage-table {
      margin-bottom: 30px;
    }

    .license-usage-chart {
      margin-bottom: 10px;
    }

    .license-usage-charts {
      display: flex;
      flex-direction: column;
      align-items: center;

      animation: fade-in 0.8s;
    }
  }
}

.loading {
  display: grid;
  height: 60vh;
  place-items: center;
}

// adjust date picker size for different screen support
@media (min-width: 320px) and (max-width: 600px) {
  .ant-picker-panels {
    display: flex;
    flex-direction: column;

    .ant-picker-date-panel {
      width: 100%;

      .ant-picker-content {
        width: 100%;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 460px) {
  .ant-picker-dropdown {
    width: 90%;
  }
}

@media (min-width: 460px) and (max-width: 600px) {
  .ant-picker-dropdown {
    width: 75%;
  }
}
